@model CreateUserViewModel

@{
    ViewData["Title"] = "Create user";
}

<section class="registerform">
    <div class="container">
        <h1>Create user</h1>

        <form method="post" enctype="multipart/form-data" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="FirstName">First name*</label>
                    <input asp-for="FirstName" class="form-control" autocomplete="off" onkeyup="validateTextInputField(event)" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="LastName">Last name*</label>
                    <input asp-for="LastName" class="form-control" autocomplete="off" onkeyup="validateTextInputField(event)" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label asp-for="UserName">UserName*</label>
                    <input asp-for="UserName" class="form-control" autocomplete="off" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email*</label>
                <input asp-for="Email" class="form-control" autocomplete="off" onkeyup="validateEmailInputField(event)" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password*</label>
                <input asp-for="Password" id="Password" class="form-control" autocomplete="off" onkeyup="validatePasswordInputField(event)" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password*</label>
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="off" onkeyup="validatePasswordConfirmInputField(event)" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="input-field">
                <label asp-for="Roles" class="form-label">Roles</label>
                <select asp-for="Roles" asp-items="@Model.AvailableRoles" class="form-control" multiple></select>
            </div>

            <hr class="mb-4">

            <button type="submit" class="btn-theme">Submit</button>
        </form>
    </div>
</section>
