<section class="newsletter-section">
    <div class="container">
        <form class="newsletter-form">
            <input type="text" placeholder="Enter your mail here..." maxlength="64">
            <button class="btn-subscribe">SUBSCRIBE FOR NEWSLETTER</button>
        </form>
    </div>
</section>