@model ShowCaseModel

<section class="showcase-section">
    <div class="container">
        <div class="info-box">
                <p class="subhead">WELCOME TO BMERKETO SHOP</p>
                <h1 class="headline">Exclusive Chair<span class="subHeadLine">gold Collection.</span></h1>
                    <a href="/products" class="btn-shop">SHOP NOW</a>
        </div>
        <div class="showcase-img">
                <img src="/images/placeholders/625x647.svg" alt="Bmerketo Webshop">
        </div>
    </div>
</section>