@model TopSellViewModel

@if (Model != null)
{
    <section class="topsell-section">
        <h1>@Model.Title</h1>
        <div class="container-fluid">
           
            <div class="topsell-cards">

                @if (Model.ProductItems != null)
                {
                    @foreach (var item in Model.ProductItems)
                    {
                        
                            <partial name="/Views/Partials/_Card.cshtml" model="item" />
                        
                    }
                }

            </div>

        </div>

        <div class="load-more">
            <button class="btn-loaditems"><i class="fa-solid fa-chevron-left"></i></button>
            <button class="btn-loaditems"><i class="fa-solid fa-chevron-right"></i></button>
        </div>

    </section>
}
