@model UserLogInViewModel
@{
    ViewData["Title"] = "Sign In";
}

<section class="registerform">
    <div class="container">
        <h1>Log in</h1>

        <form method="post" enctype="multipart/form-data" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email">Email*</label>
                <input asp-for="Email" class="form-control" autocomplete="off" onkeyup="validateEmailInputField(event)" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password*</label>
                <input asp-for="Password" class="form-control" autocomplete="off" required/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="RememberMe" class="custom-checkbox">Remember me</label>
                <input asp-for="RememberMe" />
                <span asp-validation-for="RememberMe" class="text-danger"></span>
            </div>

            <hr class="mb-4">

            <button type="submit" class="btn-theme">Log In</button>
        </form>

    </div>
</section>