.all-products {
    margin-top: $spacing-large;
    background-color: $color-white;

    .new-product, a {
        text-align: center;
        font-family: $font-poppins;
        font-size: $font-size-19;
        color: $font-color-dark;
        text-decoration: none;
        font-weight: $font-weight-medium;

        i {
            margin-right: $spacing-xsmall;
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card {
            border: none;
            padding: 20px;
            background-color: #fff;
            flex-basis: 25%;
            box-sizing: border-box;
        }

        .card-img-top {
            width: 100%;
            height: auto;
            border-radius: $zero;
        }
    }
}
